#preparation{
    width: 60%;
    height: 30%;
    border: 2px solid black;
    border-radius: 10px;
    margin:0 0 30px 30px;
}
.preparation {
  display: flex;
}
.p-preparation{
    margin-left: 1%;
    width: 60%;
    font-size: 26px;
}
.number{
    width: 26px;
    height: 27px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
}
.preparation{
    margin-left: 10px;
}
h2{
    margin-left: 10px;
}
.number{
    margin-top: 36px;
}